<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tiny</title>
    <link href="../../static/js/tiny/tiny.css">
    <script src="../../static/tinymce/tinymce.min.js"></script>
    <script src="../../static/js/common/path/index.js"></script>
</head>
<body>
<form id="notebook" method="post" action="/NoteBook/save">
    <input type="text" id="title" name="title">
    <textarea id="basic-example" name="content"></textarea>
    <button type="submit"></button>
</form>

</body>
<script src="../../static/js/tiny/tiny.js"></script>
</html>